<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\mali_\Desktop\GitHub\Prog_2\Projects\RentCars\RentCars\App_Data\dbRentCars.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />

      <remove name ="LocalSqlServer"/>

      <add name="LocalSqlServer" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=C:\Users\mali_\Desktop\GitHub\Prog_2\Projects\RentCars\RentCars\App_Data\ASPNETDB.MDF;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" 
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <roleManager enabled="true" />
      <authentication mode="Forms"/>
      
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
